#navbar {
  display: flex;
  justify-content: center;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  display: inline;
  padding: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #495E57;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#hero_section {
  display: flex;
  justify-content: center;
}

#hero_section h2 {
  color: #F4CE14;
  line-height: 0px;
}

#hero_section h3 {
  color: #EDEFEE;
}

#hero_section p {
  color: #EDEFEE;
}

#hero_section img {
  width: 419px;
  height: 430px;
  margin-top: 30px;
  margin-left: 125px;
  object-fit: cover;
  border-radius: 10px;
}

#hero_section_background {
  position: absolute;
  background-color: #495E57;
  width: 100%;
  height: 350px;
  z-index: -1;
}

#special_cards {
  display: flex;
  justify-content: center;
}

#specials_section {
  background-color: #495E57;
  padding-top: 20px;
  padding-bottom: 20px;
}

#specials_section h2 {
  color: #F4CE14;
}

#specials_section > div {
  width: 887px;
  margin: auto
}

#specials_section img {
  object-fit: cover;
  width: 280px;
  height: 185px;
  border-radius: 20px 20px 0px 0px;
}

#specials_section article {
  margin: 20px;
  background-color: #EDEFEE;
  border-radius: 20px 20px 5px 5px;
}

#specials_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#specials_header_container h1 {
  line-height: 0px;
}

.card-content {
  padding: 10px 20px
}

button {
  border-radius: 16px;
  background-color: #F4CE14;
  padding: 10px 20px;
  font-weight: 600;
}

#book_now_section {
  background-color: #495E57;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

#book_now_section img {
  width: 50%;
}

#form {
  width: 100%;
  height: 100%;
}

#form h2 {
  line-height: 0;
  color: #F4CE14
}

#form p {
  line-height: 0;
  margin: 0px;
  color: #ffc0cb;
}

#form input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
}

#form select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
}

#form label {
  color: #EDEFEE;
  font-size: 20px;
}

#about_section {
  background-color: #495E57;
  display: flex;
  justify-content: space-around;
}

#about_section div {
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-right: 300px;
}

#about_section h2 {
  color:#F4CE14
}

#about_section p {
  color: #EDEFEE;
  width: 50%;
}

#about_section img {
  width: 50%;
  position: absolute;
  right: 100px;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 10px;
}

#footer {
  width: 100%;
  background-color: #495E57;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid #EDEFEE;
}

#footer section {
  color: #EDEFEE;
}

#footer p {
  line-height: 5px;
}

#booking_confirmed_section {
  background-color: #495E57;
  text-align: center;
}

#booking_confirmed_section h1 {
  color:#F4CE14
}

#booking_confirmed_section h2 {
  color: #EDEFEE;
}

#booking_confirmed_section img {
  width: 419px;
  height: 430px;
  object-fit: cover;
  border-radius: 10px;
}